.error404 {
  i {
    font-size: 6rem;
    color: $secondary-color;
    margin-bottom: 2rem;
  }

  .subtitulo {
    text-align: center;
    font-size: 3.2rem;
  }

  .saiba-mais a {
    min-width: 46rem;
  }
}