.home__sobre-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home__sobre h2 {
  padding-bottom: 8rem;
}

.home__sobre-feature {
  img {
    height: 8rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2em;
    font-weight: bold;
    color: $primary_color;
  }

  p {
    text-align: center;
  }
}

#home__atividades h4 {
  text-align: center;
  margin: 2rem 0;
}

.home__atividades-item {
  background: $white__color;
  border-radius: 1.2rem;
  -webkit-box-shadow: -1px 3px 25px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 25px -13px rgba(0, 0, 0, 0.75);
  padding: 0;
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;

  .atividade-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem;
    background: $primary_color;
    border-radius: 1.2rem 1.2rem 0px 0px;
  }

  &.palestra-item .atividade-cabecalho {
    background-color: $secondary-color;
  }

  .atividade-cabecalho {
    img {
      height: 4rem;
    }

    h3 {
      font-weight: bold;
      color: $white__color;
    }
  }
}

.atividade-conteudo {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .atividade-conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;

    strong {
      font-size: 2rem;
      font-weight: bold;
    }

    time {
      font-size: 1.8rem;
    }
  }
}

/**
** Data
**/

#home__data {
  padding: 12rem 0 !important;
}

.home__data--col-1,
.home__data--col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white__color;
  padding: 12rem;
}

.home__data--col-1 h3 {
  font-weight: bold;
  margin-bottom: 2.6rem;
  font-size: 2.8rem;
  text-align: center;
}

.home__data--col-2 {
  h2 {
    font-weight: bold;
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }

  h4,
  h5,
  h6 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  h4 {
    font-weight: bold;
  }

  color: $white__color;
}

.home__data--col-1 {
  p {
    text-align: center;
    padding: 0 !important;
  }

  background: $primary_color;
  max-height: 20rem;
}

.home__data--col-2 {
  min-height: 30rem;
  background-color: $secondary-color;
}

#home__data .row {
  align-items: center;
}