.home #cabecalho {
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

.page .header.cabecalho__fundo--branco {
  padding: 2rem 0;
}

.section-padrao h2.titulo {
  padding-top: 8rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
}

.page .section-padrao {
  h2.titulo {
    padding-bottom: 1.4rem;
  }

  h3.subtitulo {
    text-align: center;
  }
}

.section-padrao p {
  font-size: 1.8rem;
  text-align: justify;
  text-indent: 1.4rem;
}

.page .section-padrao p {
  padding: 2rem 4rem;
}