.page {
  .header.cabecalho__fundo--branco {
    padding: 2rem 0;
  }

  .section-padrao {
    h2.titulo {
      padding-bottom: 1.4rem;
    }

    h3.subtitulo {
      text-align: center;
    }

    p {
      padding: 2rem 4rem;
    }
  }
}