.btn-padrao {
  color: $white__color;
  background-color: $primary-color;
  border: solid 2px $primary-color;
  border-radius: 0;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;

  &:hover {
    color: $primary-color;
    border: solid 2px $primary-color;
    background-color: transparent;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.9s;
  }
}

.section-background {
  background-color: $light__third;
}