.mm__material-content-item {
  a {
    .mm__material-image-item {
      background-size: cover !important;
      background-position: 50% !important;
      border-radius: 8px;
      height: 203px;
      width: 100%;
    }

    .mm__bg-course-content {
      margin-top: 10px;

      .mm__material-body-content-item {
        .mm__post-item-title {
          color: $primary__purple-4;
          font-size: 24px;
          line-height: 29px;
          margin: 0;
          position: relative;
          padding-bottom: 5px;

          &::after {
            background-color: $secondary__green-1;
            bottom: 0;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            width: 80%;
          }
        }
      }
    }

    &:hover {
      .mm__material-body-content-item {
        .mm__post-item-title {
          color: $secondary__green-1;

          &::after {
            background-color: $primary__purple-4
          }
        }
      }
    }
  }
}
