.mm__content-posts-most-view-home-full {
  margin-bottom: 20px;

  @include media('<=tablet') {
    margin-bottom: 45px;
  }

  a {
    .mm__image-posts-most-view-home-full {
      height: 320px;
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      width: 100%;

      img {
        object-fit: fill;
      }

      .mm__category-posts-most-view-home-full {
        color: $primary__purple-5;
        background-color: $secondary__green-1;
        font-family: $font__lato;
        font-size: 14px;
        line-height: 17px;
        left: 12px;
        padding: 3px 18px;
        position: absolute;
        top: 15px;
      }
    }

    .mm__content-body-posts-most-view-home-full {
      .mm__content-body-title-posts-most-view-home-full {
        color: $primary__purple-4;
        font-size: 21px;
        font-weight: $w__bold;
        line-height: 29px;
        margin: 0;
        margin-bottom: 10px;
      }

      .mm__content-body-resume-posts-most-view-home-full {
        font-size: 13px;
        line-height: 17px;
        margin: 0;
        margin-bottom: 10px;
      }

      .mm__content-body-author-posts-most-view-home-full {
        color: $dark__secondary;
        font-size: 14px;
        font-weight: $w__bold;
        line-height: 17px;
        margin: 0;
      }
    }

    &:hover {
      .mm__image-posts-most-view-home-full {
        img {
          @include transition(all .5s ease);

          transform: scale(1.1);
        }

        .mm__category-posts-most-view-home-full {
          @include transition(all .5s ease);

          color: $secondary__green-1;
          background-color: $primary__purple-5;
        }
      }

      .mm__content-body-posts-most-view-home-full {

        .mm__content-body-title-posts-most-view-home-full {
          @include transition(all .5s ease);

          color: $secondary__green-1;
        }
      }
    }
  }
}

.mm__content-posts-most-view-home {
  a {
    .mm__image-posts-most-view-home {
      height: 170px;
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      width: 100%;

      @include media('<=tablet') {
        height: 320px;
      }

      img {
        object-fit: fill;
      }

      .mm__category-posts-most-view-home {
        color: $primary__purple-5;
        background-color: $secondary__green-1;
        font-family: $font__lato;
        font-size: 14px;
        line-height: 17px;
        left: 9px;
        padding: 3px 18px;
        position: absolute;
        top: 15px;
      }

    }

    .mm__content-body-posts-most-view-home {
      .mm__content-body-title-posts-most-view-home {
        color: $primary__purple-4;
        font-size: 24px;
        font-weight: $w__bold;
        line-height: 29px;
        margin: 0;
      }

      .mm__content-body-title-posts-most-view-home-small {
        color: $primary__purple-5;
        font-size: 14px;
        font-weight: $w__bold;
        line-height: 17px;
        margin: 0;

        @include media('<=tablet') {
          color: $primary__purple-4;
          font-size: 21px;
          line-height: 29px;
          margin-bottom: 10px;
        }
      }

      .mm__content-body-author-posts-most-view-home {
        font-size: 18px;
        font-weight: $w__bold;
        line-height: 22px;
        margin: 0;
      }

      .mm__content-body-author-posts-most-view-home-small {
        color: $dark__secondary;
        font-size: 14px;
        font-weight: $w__bold;
        line-height: 17px;
        margin: 0;
      }
    }

    &:hover {
      .mm__image-posts-most-view-home {
        img {
          @include transition(all .5s ease);

          transform: scale(1.1);
        }

        .mm__category-posts-most-view-home {
          @include transition(all .5s ease);

          color: $secondary__green-1;
          background-color: $primary__purple-5;
        }
      }

      .mm__content-body-posts-most-view-home {
        .mm__content-body-title-posts-most-view-home,
        .mm__content-body-title-posts-most-view-home-small {
          @include transition(all .5s ease);

          color: $secondary__green-1;
        }
      }
    }
  }
}

.mm__component-posts-most-view-home {
  .mm__row {
    .mm__column-posts-most-view-home {
      @include make-col-ready();

      @include media-breakpoint-up(sm) {
        @include make-col(12);
      }

      @include media-breakpoint-up(md) {
        @include make-col(12);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }

      margin-bottom: 30px;

      @include media('<=tablet') {
        margin-bottom: 45px;
      }
    }
  }
}
