.mm__list-posts-home {
  .container  {
    .mm__row {
      .mm__column-section-featured-secondary {
        @include make-col-ready();

        @include media-breakpoint-up(sm) {
          @include make-col(12);
        }

        @include media-breakpoint-up(md) {
          @include make-col(12);
        }

        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }

        margin-bottom: 30px;

        a {
          .mm__content-section-featured-secondary {
            display: flex;
            align-items: center;

            .mm__image-section-featured-secondary {
              width: 50%;
              overflow: hidden;

              img {
                height: 175px;
                object-fit: cover;
              }
            }

            .mm__body-section-featured-secondary {
              margin-left: 29px;
              width: 50%;

              .mm__body-title-section-featured-secondary {
                color: $primary__purple-4;
                font-size: 13px;
                font-weight: $w__bold;
                line-height: 16px;
                margin: 0;
                margin-bottom: 10px;
                padding-bottom: 10px;
                position: relative;

                &::after {
                  content: '';
                  height: 1px;
                  width: 80%;
                  background-color: $secondary__green-1;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }

              .mm__body-resume-section-featured-secondary {
                color: $dark__primary;
                font-size: 13px;
                font-weight: $w__bold;
                line-height: 16px;
                margin: 0;
                margin-bottom: 10px;
              }

              .mm__body-author-section-featured-secondary {
                color: $dark__secondary;
                font-size: 13px;
                line-height: 16px;
                margin: 0;
                margin-bottom: 10px;
              }
            }
          }

          &:hover {
            .mm__content-section-featured-secondary {
              .mm__image-section-featured-secondary {
                img {
                  @include transition(all .5s ease);

                  transform: scale(1.3);
                }
              }
            }
          }
        }
      }
    }
  }
}
