.our-team {
  .pic {
    border-top: 5px solid $primary-team-color;
    border-bottom: 5px solid $primary-team-color;
    border-radius: 50% 50% 50% 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
  }

  &:hover .pic {
    border-top-color: $secondary-color;
    border-bottom-color: $secondary-color;
    border-radius: 50% 0;
  }

  .pic img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
  }

  .team-content {
    padding: 2rem 0;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: $primary-color;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px 0;
  }

  .post {
    display: block;
    font-size: 1.8rem;
    color: light__fourth;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  .social {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 1.2rem;

      a {
        display: block;
        width: 3.6rem;
        height: 3.6rem;
        line-height: 3.6rem;
        border-radius: 50%;
        border: 1px solid $primary-color;
        background: $white__color;
        font-size: 1.6rem;
        color: $primary-color;
        text-align: center;
        transition: all 0.5s ease 0s;
        text-decoration: none;
      }
    }
  }

  &:hover .social li a {
    background: $primary-color;
    color: $white__color;

    &:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}
