/**
 *
 * COLORS
 *
 */

/* Dark colors */
$dark__primary: #525252;
$dark__secondary: #8a8989;

/* Light colors */
$light__primary: #c4c4c4;
$light__secondary: #d5d5d5;
$light__third: #eeeeee;
$light__fourth: #878484;



/* Danger color */
$danger__color: #ff7171;

/* Success color */
$success__color: #cbe54c;

/* Base color */
$white__color: #ffffff;
$black__color: #000000;



$primary-color: #ff8f2a;
$secondary-color: #0093b3;
$primary-dark: #2e2e2e;

$primary-team-color: #ff8e72;

/* White rgba */
$white__rgba-1: rgba(255, 255, 255, 1);
$white__rgba-109: rgba(255, 255, 255, 0.9);
$white__rgba-08: rgba(255, 255, 255, 0.8);
$white__rgba-07: rgba(255, 255, 255, 0.7);
$white__rgba-06: rgba(255, 255, 255, 0.6);
$white__rgba-05: rgba(255, 255, 255, 0.5);
$white__rgba-04: rgba(255, 255, 255, 0.4);
$white__rgba-03: rgba(255, 255, 255, 0.3);
$white__rgba-02: rgba(255, 255, 255, 0.2);
$white__rgba-01: rgba(255, 255, 255, 0.1);
