/**
 *
 * TYPOGRAPHY
 *
 */

p,
button,
input,
select,
optgroup,
textarea,
span,
li,
ul,
ol,
a {
	font-family: $font__poppins;
	line-height: normal;
  font-weight: $w__normal;
}

a {
  text-decoration: none;
}

