.header {
  ul {
    margin: 4rem 0;
    list-style: none;
    overflow: hidden;
    background-color: $white__rgba-05;
  }

  li a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: $white__color;
    font-weight: 500;
    font-size: 2em;
    position: relative;

    &:hover {
      background-color: $primary-color;
    }
  }

  .menu-btn:hover {
    background-color: $primary-color;
  }

  &.cabecalho__fundo--branco {
    background-color: $white__color;
  }
}



/* menu */

.header {
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    list-style: none;
  }

  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;

    .navicon {
      background: $primary-color;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.6s ease-out;
      width: 4rem;

      &:before,
      &:after {
        background: $primary-color;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 10px;
      }

      &:after {
        top: -10px;
      }
    }
  }

  &.cabecalho__fundo--branco a {
    color: $black__color;
  }
}

/* menu icon */

.breadcrumb {
  padding: 2rem 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 22rem;
  margin-top: 2rem;

  h1 {
    padding: 6rem 2rem;
    color: $white__color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.2rem;
    padding-bottom: 1.4rem;
  }
}

.breadcrumb-item {
  padding: 0 2rem;
  color: $white__color;
  font-size: 2.2rem;

  &::before {
    content: none !important;
  }
}

.header {
  &.cabecalho__fundo--branco .breadcrumb-item {
    a {
      color: $white__color;
      text-decoration: none;

      &:hover {
        color: $primary-color;
      }
    }

    span {
      color: $primary-color;
      opacity: 0.8;
    }
  }

  .menu-btn {
    display: none;

    &:checked~ {
      .menu {
        min-height: 48rem;
      }

      .menu-icon {
        .navicon {
          background: transparent;

          &:before {
            transform: rotate(-45deg);
          }

          &:after {
            transform: rotate(45deg);
          }
        }

        &:not(.steps) .navicon {

          &:before,
          &:after {
            top: 0;
          }
        }
      }
    }
  }
}

/* menu btn */

.cabecalho__main {
  padding: 7rem;
  text-align: center;

  h2 {
    color: $white__color;
    font-weight: bold;
    font-family: $font__poppins;
    margin: 1.6rem 0;
    font-size: 6rem;
  }

  h3 {
    color: $white__color;
    font-weight: bold;
    font-family: $font__poppins;
    margin: 1.6rem 0;
    font-size: 6rem;
    color: $primary-color;
  }
}